
body {
    background-color: rgb(81, 69, 10);
    float: lefts;
    position: absolute;
    width: 30%;
    right: 70%s;
  }
  button {background-origin: padding-box;

  }
  image{
  max-width: 10rem;
  max-height: 10rem;
  border: .5rem solid rgba(255, 255, 255, .2)
}
   img{ vertical-align: middle;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px;
     
  }
  