html{
  scroll-behavior: smooth;
  -webkit-text-size-adjust:100% ;
  -webkit-tap-highlight-color: transparent;
}
body {
    
    float: lefts;
    position: absolute;
    width: 30%;
    right: 70%s;
    margin: 0px;
    text-align: left;
    box-sizing: border-box;
    
  }
  image{
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: brown;

}
img{
  height: 200px;
  width:200px;
  border-radius: 50%;
  border: 5rm solid;


}
   
  .container{
    display: flex;
    flex box:center;
    flex-direction:row;
    align-items:flex-start;
    gap: 20px;;
    justify-content: ;

    
  

    
  }
  a{
    position: relative;
    border-radius: 20px;
    border: 0;
    font-size: large;
    text-transform: uppercase;
    font  width: 70px;
    padding: 10px 30px;
    transition:0.5s;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
  }
  
a:hover{
  background-color: cadetblue;
      color: black;
}
.box1{
  display: block;
  background-color: brown;
  align-items: center;
  width: 1000px;
  height: 1000px;
  align-self: baseline;

  text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh
 
}
.box2{
  position: relative;
  flex-grow: 100%;
  text-decoration: none;
  text-align: center;
display: block;
right: 0rem;
left: 20rem;
  
  
}
h1,h2{
  text-align: center;
  text-decoration: border;
  text-size-adjust: 10rm;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 700px;


}

.own{
  color:brown;
}
.own-email{
  color: blue;
}
.fa-brands{
 color: rgb(171, 171, 181);
 height: 10rem;
}
.fa-facebook{
  font-size: 5rem;
}
.fa-square-twitter{
  font-size: 5rem;
}
.fa-linkedin{
  font-size: 5rem;
}
.fa-github{
  font-size: 5rem;
}
.date1{
  position: relative;
  left: 60rem;
  align-items: center;
  color: brown;
}
.date2{
  position: relative;
  left: 60rem;
  align-items: center;
  color: brown;
}
.date3{
  position: relative;
  left: 70rem;
  align-items: center;
  color: brown;

  
}




  
    
    
  
  